<nav>
  <div style="background:rgb(21, 15, 59);" class="nav-wrapper">
    <a style="margin-left: 2%;" href="#" class="brand-logo">SKYNET</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a class="navLink" href="sass.html">link to documentation?</a>
      </li>
      <li>
        <a class="navLink" href="badges.html">ReadMe of Project</a>
      </li>
    </ul>
  </div>
</nav>

<div id="insideNavFooter" style="color:rgb(255, 255, 255);">
  <router-outlet></router-outlet>
</div>




<footer style="background:rgb(21, 15, 59); text-align:center;" class="page-footer">

  <div class="footer-copyright">
    <div class="container">
      © 2018 SKYNET
    </div>
  </div>
</footer>