


<button (click)='turnLeft()'>service test</button>



<div id="leftSide" class="col s11 m11 l5">
  <!--CHAT DISPLAY-->

  <!--CHAT TEXT AND DICTATION ENTRY SECTION-->

  <div id="speech" class="input-field col s12 row">
    <div id="chatTextEntryAndMic">

      <div #chatText id="chatTextArea" (click)="getCommandString(chatText)" contenteditable="true"></div>

      <div id="dictationButton">
        <img onClick="startSpeech()" src="../assets/micOff.png" id="microphoneIcon">
      </div>
    </div>
  </div>


