
<h4>Make Your Own Flight Plan</h4>



<h6>Flight Plans</h6>
<h6 id="param">Actions</h6>

<br>

<div id="editingWindow">

  <div class="editDiv" id="plans">

  </div>

  <div class="editDiv" id="params">

  </div>

  <button id="takeOff" href="">Take off!</button>

  <button id="land" href="">Land</button>

  <button class="rotate" href="">Rotate Left</button>

  <button class="rotate" href="">Rotate Right</button>

  <button class="buttonControls" id="front" href="">Move Front</button>
  
  <button class="buttonControls leftRight" href="">Move Left</button>
  
  <button class="buttonControls leftRight" href="">Move Right</button>
  
  <button class="buttonControls" id="back" href="">Move Back</button>
  
  <button class="rotate" href="">Move Up</button>
  
  <button class="rotate" href="">Move Down</button>
  
</div>

