
<h4>Make Your Own Flight Plan</h4>



<h6>Flight Plans</h6>
<button id="create">Create</button>
<h6 id="param">Actions</h6>
<button id="save">Save</button>

<br>

<div id="editingWindow">

  <div class="editDiv" id="plans">

  </div>

  <div class="editDiv" id="params">

  </div>

  <button id="takeOffFP" href="">Take off!</button>

  <button id="landFP" href="">Land</button>

  <button id="turnLeftFP" class="rotate" href="">Rotate Left</button>

  <button id="turnRightFP" class="rotate" href="">Rotate Right</button>

  <button id="moveFrontFP" class="buttonControls" href="">Move Front</button>

  <button id="moveLeftFP" class="buttonControls leftRight" href="">Move Left</button>

  <button id="moveRightFP" class="buttonControls leftRight" href="">Move Right</button>

  <button id="moveBackFP" class="buttonControls" href="">Move Back</button>

  <button id="moveUpFP" class="buttonControls" href="">Move Up</button>

  <button id="moveDownFP" class="buttonControls" href="">Move Down</button>

  <button id="calibrateFP" class="buttonControls" href="">Calibrate</button>

  <button id="stopFP" href="">Stop</button>

</div>

