h4{
  margin: 0% 0 30px 0;
  padding-top: 30px;
  text-align: center;
}

h6{
  margin: 0 4%;
  float: left;
}

#param{
  margin: 0 0 0 18.4%;
}

#plans{
  height: 500px;
  width: 350px;
  background: black;
  box-shadow:inset rgb(179, 179, 179) 1px 1px 7px;
  float: left;
  margin: 0 4%;
}

#params{
  height: 500px;
  width: 350px;
  background: black;
  box-shadow:inset rgb(179, 179, 179) 1px 1px 7px;
  float: left;
  margin: 0 0%;
}

.buttonControls {
  border-radius: 15px;
  background:rgb(21, 15, 59);;
  padding: 0px;
  width: 100px;
  height: 50px;
  color: aliceblue;
  margin: 1%;
  position: relative;
}

.buttonControls:hover{
  background: rgb(45, 47, 124);
}

.rotate {
  border-radius: 15px;
  background:rgb(21, 15, 59);;
  padding: 0px;
  width: 100px;
  height: 50px;
  color: aliceblue;
  margin: 1%;
  /* float: left; */
}

.rotate:hover{
  background: rgb(45, 47, 124);
}

#takeOff {
  border-radius: 15px;
  background:rgb(10, 150, 22);;
  padding: 0px;
  width: 100px;
  height: 50px;
  color: aliceblue;
  margin: 1%;
  /* float: left; */
}

#takeOff:hover{
  background: rgb(17, 218, 17);
}

#land {
  border-radius: 15px;
  background:rgb(161, 13, 13);;
  padding: 0px;
  width: 100px;
  height: 50px;
  color: aliceblue;
  margin: 1%;
  /* float: left; */
}

#land:hover{
  background: rgb(235, 35, 35);
}