
<h4>Make Your Own Flight Plan</h4>



<h6>Flight Plans</h6>
<button id="refreshFlightPlans">Refresh</button>
<button id="create">Create</button>
<h6 id="param">Actions</h6>
<!--<button id="save">Save</button>-->

<br>

<div id="editingWindow">

  <div class="editDiv" id="plans">
    <!--This is where the flight plans listing will show-->
  </div>

  <div class="editDiv" id="params">
    <!--This is where the flight plan actions/details will show when you select a flight plan-->
  </div>

  <button id="takeOffFP" class="addAction">Take off!</button>

  <button id="landFP" class="addAction">Land</button>

  <button id="turnLeftFP" class="addAction rotate">Rotate Left</button>

  <button id="turnRightFP" class="addAction rotate">Rotate Right</button>

  <button id="moveFrontFP" class="addAction buttonControls">Move Front</button>

  <button id="moveLeftFP" class="addAction buttonControls leftRight">Move Left</button>

  <button id="moveRightFP" class="addAction buttonControls leftRight">Move Right</button>

  <button id="moveBackFP" class="addAction buttonControls">Move Back</button>

  <button id="moveUpFP" class="addAction buttonControls">Move Up</button>

  <button id="moveDownFP" class="addAction buttonControls">Move Down</button>

  <button id="calibrateFP" class="addAction buttonControls">Calibrate</button>

  <button id="stopFP" class="addAction addAction">Stop</button>

</div>

