@import url(https://fonts.googleapis.com/css?family=Audiowide);

html{
  font-family: 'Audiowide', cursive;
}

.navLink:hover {
  background: rgb(35, 36, 94);
}

.page-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  max-height: 70px;
  /* text-align: center; */
}

.buttons {
  border-radius: 15px;
  background:rgb(21, 15, 59);;
  padding: 20px;
  width: 200px;
  height: 150px;
  color: aliceblue;
  margin: 2%;
}

.buttons:hover{
  background: rgb(35, 36, 94);
}

#insideNavFooter{
  height: 100%;
}

body {
  background-color: black;
  background-image: url(assets/terminator_bg.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}

html {
  height: 100%;
}

menu{
  margin: 0;
}

.flightPlanListing{
  line-height: 48px;
  width: 320px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: rgb(21,15,59);
  padding: 0 20px;
  height: 50px;
  color: aliceblue;
  margin: 15px auto;
  position: relative;
}

.flightPlanListing:hover{
  background: rgb(45, 47, 124);
}

.editFlightPlanNameButton, .editFlightPlanActionButton {
  border-radius: 15px;
  background: rgb(10, 150, 22);
  width: 65px;
  height: 22px;
  color: aliceblue;
  position: absolute;
  right: 50px;
  top: 14px;
}

.editFlightPlanNameButton:hover, .editFlightPlanActionButton:hover{
  background: rgb(17, 218, 17);
}

.deleteFlightPlanNameButton, .deleteFlightPlanActionButton {
  border-radius: 15px;
  background:rgb(161, 13, 13);
  width: 28px;
  height: 22px;
  color: aliceblue;
  position: absolute;
  right: 15px;
  top: 14px;
}

.deleteFlightPlanNameButton:hover, .deleteFlightPlanActionButton:hover{
  background: rgb(235, 35, 35);
}
