@import url(https://fonts.googleapis.com/css?family=Audiowide);

html{
  font-family: 'Audiowide', cursive;
}

.navLink:hover {
  background: rgb(35, 36, 94);
}

.page-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  max-height: 70px;
  /* text-align: center; */
}

.buttons {
  border-radius: 15px;
  background:rgb(21, 15, 59);;
  padding: 20px; 
  width: 200px;
  height: 150px; 
  color: aliceblue;
  margin: 2%;
}

.buttons:hover{
  background: rgb(35, 36, 94);
}

#insideNavFooter{
 background-image: url(https://images7.alphacoders.com/601/601841.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 height: 100%;
}

body, html {
  height: 100%;
}

menu{
  margin: 0;
}