@import url(https://fonts.googleapis.com/css?family=Audiowide);

html{
  font-family: 'Audiowide', cursive;
}

.navLink:hover {
  background: rgb(35, 36, 94);
}

.page-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  max-height: 70px;
  /* text-align: center; */
}

.buttons {
  border-radius: 15px;
  background:rgb(21, 15, 59);;
  padding: 20px;
  width: 200px;
  height: 150px;
  color: aliceblue;
  margin: 2%;
}

.buttons:hover{
  background: rgb(35, 36, 94);
}

#insideNavFooter{
  height: 100%;
}

body {
  background-color: black;
  background-image: url(assets/terminator_bg.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}

html {
  height: 100%;
}

menu{
  margin: 0;
}
